<section class="Banner">
  <div class="Banner-Wrapper Wrapper">
    <h1 class="Banner-Title">Отправляйся в приключения с нашими эпическими лут-корзинами и наборами!</h1>
    <p class="Banner-Text">
      Развивай свои навыки, следуя мудрым стратегиям мастеров, и поднимайся на новый уровень мастерства! С нашей поддержкой каждое твое действие станет частью великого искусства, а победы&nbsp;—
      результатом точного плана и безупречной подготовки!
    </p>
    <%- include('../button/button.ejs', { buttonClassName: 'Banner-Button', buttonLink: true, buttonSize: 'hush', buttonStyle: 'farb', buttonText: 'В каталог' }) %>
  </div>
</section>
