<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon-512.png" />
    <link rel="icon" sizes="16x16" href="./favicon-16.png" />
    <link rel="icon" sizes="32x32" href="./favicon-32.png" />
    <link rel="icon" sizes="48x48" href="./favicon-48.png" />
    <link rel="icon" sizes="64x64" href="./favicon-64.png" />
    <link rel="icon" sizes="128x128" href="./favicon-128.png" />
    <link rel="icon" sizes="192x192" href="./favicon-192.png" />
    <link rel="icon" sizes="256x256" href="./favicon-256.png" />
    <link rel="icon" href="./favicon-48.ico" type="icon/x-icon" />
    <link rel="icon" href="./favicon-48.svg" type="icon/svg+xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#FFFFFF" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <title>Магазин</title>
    <meta name="keywords" content="Магазин" />
    <meta name="description" content="Магазин лут-корзин и наборов" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="stylesheet" href="./css/normalize.css" />
    <style>
      @font-face {
        font-family: 'TenorSans';
        src:
          url('./fonts/TenorSans-Regular.woff2') format('woff2'),
          url('./fonts/TenorSans-Regular.woff') format('woff');
        font-weight: 400;
      }
      html,
      body {
        height: 100%;
      }
      body {
        background-color: #fff;
        color: #343a3f;
        font:
          400 14px/1 'TenorSans',
          'Helvetica',
          sans-serif;
      }
    </style>
  </head>
  <body>
    <%- include('../../dist/sprite.svg') %>
    <%- include('../blocks/header/header.ejs') %>
    <%- include('../blocks/banner/banner.ejs') %>
    <%- include('../blocks/catalog/catalog.ejs') %>
  </body>
</html>
