<section class="Catalog">
  <div class="Wrapper">
    <ul class="Catalog-List">
      <% for (let i = 0; i < 16; i++) { %>
      <li class="Catalog-List-Item"></li>
      <% } %>
    </ul>
  </div>
</section>
