<% const logoParentClassName = typeof logoClassName !== 'undefined' ? logoClassName + ' ' : ''; %>
<% const logoFullClassName = logoParentClassName + 'Logo'; %>

<a class="<%= logoFullClassName %>" href="#">
  <img class="Logo-Image" src="../images/logo.svg" alt="Логотип" />
</a>
