<div class="Languages">
  <svg class="Languages-Icon Icon Icon_color_turl Icon_size_aura">
    <use xlink:href="#icon-languages"></use>
  </svg>
  <ul class="Languages-List">
    <li class="Languages-List-Item">
      <span class="Languages-List-Item-Text">RU</span>
    </li>
    <li class="Languages-List-Item Languages-List-Item_separator">|</li>
    <li class="Languages-List-Item">
      <a class="Languages-List-Item-Link" href="#">EN</a>
    </li>
  </ul>
</div>
